button.hide{
    display: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

hr {
  height: 1px;
  padding: 0;
  color: #BBB;
  background-color: #BBB;
  border: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	margin-top: 50px;
   	font-size: 30px;
	font-weight: 100;
	text-align: center;

}

h1.add{
    font-size: 20px;
    text-align: center;
    margin: 0 0 25px 0;
}

h1 strong {
	font-size: 52px;	
	font-weight: 500;
	color: #388E3C;
}

h2 {
	margin-left: 10%;
	margin-bottom: 20px;
	font-size: 25px;	
	font-weight: 100;
}

h2 span.active {
	color: #388E3C;
}

div.content{
	width: 100%;
	margin: auto;
	color: #333;
}

ul.fullscreen-list{
	list-style-type: none;
}

ul.fullscreen-list li:first-child{
	border-top: 1px #BBB solid;
}

ul.fullscreen-list li{
	border-bottom: 1px #BBB solid;
	min-height: 100px;
	vertical-align: center;
	-webkit-transition: background-color 0.3s; /* Safari */
    transition: background-color 0.3s;
}

ul.votes li{
	min-height: 50px;
}

ul.fullscreen-list li div.proposal p, ul.fullscreen-list li div.action p{
	margin-left: 10%;
    margin-top: 10px;
}

ul.fullscreen-list li div.slider{
    padding-top: 10px;
}

p.author,p.date,p.votes,p.categoryLabel{
    display: inline-block;
}

p.author, p.categoryLabel{
    font-size: 20px;	
	font-weight: 100;
}
p.date,p.votes{
    font-size: 10px;
    font-weight: 500;
    float: right;
    margin-right: 20px;
}
p.votes{
  font-size: 20px;
}
p.action-description, p.actionLabel{
    margin-bottom: 10px;
}
.icon-family{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.icon-eye{
    background-image: url('../../img/eye-icon.png');
}
ul.fullscreen-list a li:hover .icon-eye{
    background-image: url('../../img/eye-icon-white.png');
}
.icon-ear{
    background-image: url('../../img/ear-icon.png');
}
ul.fullscreen-list a li:hover .icon-ear{
    background-image: url('../../img/ear-icon-white.png');
}
.icon-mouth{
    background-image: url('../../img/mouth-icon.png');
}
ul.fullscreen-list a li:hover .icon-mouth{
    background-image: url('../../img/mouth-icon-white.png');
}
.icon-nose{
    background-image: url('../../img/nose-icon.png');
}
ul.fullscreen-list a li:hover .icon-nose{
    background-image: url('../../img/nose-icon-white.png');
}

.buttons-container{
    width: 100%;
    margin: 0 auto 150px auto;
}

.button {
    background-color: #388E3C;
    margin: 0 5px;
    width: 45%;
}

.button-left{
    float: left;
}

.button-right{
    float:right;
}

.thread h2{
    display:inline-block;
}

.thread-back-button{
    display:inline-block;
    height: 30px;
    margin-left: 20px;
    vertical-align: top;
}

.form div{
	font-size: 20px;	
	font-weight: 100;
    margin: 25px 0;
}

.form div span{
    margin-right: 25px;
}

.form {
    width: 100%;
    margin-left: 10%;
}

.form-button {
    background-color: #388E3C;
    margin: 0 auto;
    width: 150px;
}

.form div input, textarea{
    width: 300px;
    font-size: 18px;	
	font-weight: 500;
}

.form div textarea{
    height: 20%;
    margin-left: 1px; /*pixel perfect tmtc*/
    padding: 10px;
}

.form div input{
    height: 40px;
    padding: 0 10px;
}

.slider-question{
    text-align: center;
    color: #fff;
    font-size: 20px;	
	font-weight: 100;
    margin-bottom: 20px;
}

.slider-buttons{
    width: 355px;
    margin: 0 auto;
}

.slider-button{
    width: 150px;
}

.slider-button:first-child{
    margin-right: 50px;
}

.black{
    background-color: #FFF;
    color: #333;
}

.white{
    background-color: #388E3C;
    color: #FFF;
}

.covered{
    background-color: #333;
}

.slider-actions{
	padding: 20px;
}

.audio-loaded{
	font-weight: 100;
	font-size: 20px;
	margin: 20px auto;
	margin-left: 10%;
}

.soundLoaded{
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
    float:right;
}