button.hide{
    display: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

hr {
  height: 1px;
  padding: 0;
  color: #BBB;
  background-color: #BBB;
  border: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	margin-top: 50px;
   	font-size: 30px;
	font-weight: 100;
	text-align: center;

}

h1.add{
    font-size: 20px;
    text-align: center;
    margin: 0 0 50px 0;
}

h1 strong {
	font-size: 52px;	
	font-weight: 500;
	color: #0097A7;
}

h2 {
	margin-left: 10%;
	margin-bottom: 20px;
	font-size: 25px;	
	font-weight: 100;
}

h2 span.active {
	color: #0097A7;
}

div.content{
	width: 100%;
	margin: auto;
	color: #333;
}

ul.fullscreen-list{
	list-style-type: none;
}

ul.fullscreen-list a:first-child li{
	border-top: 1px #BBB solid;
}

ul.fullscreen-list a li{
	border-bottom: 1px #BBB solid;
	height: 100px;
	vertical-align: center;
	-webkit-transition: background-color 0.3s; /* Safari */
    transition: background-color 0.3s;
}

ul.fullscreen-list a li:hover{
	background-color: #0097A7;
	color: #fff;
}

ul.fullscreen-list a li div:first-child{
	margin-left: 10%;
}

ul.fullscreen-list a li div{
	font-weight: 500;
	font-size: 20px;
	line-height: 100px;
    display: inline-block;
    margin-left: 20px;
}

.buttons-container{
    width: 100%;
    margin: 0 auto 150px auto;
}

.button {
    background-color: #0097A7;
    margin: 0 5px;
    width: 45%;
}

.button-left{
    float: left;
}

.button-right{
    float:right;
}

.thread{
    text-transform: uppercase;
}

.thread h2{
    display:inline-block;
}

.thread-back-button{
    color: #0097a7;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 13px;
}

.form div{
	font-size: 20px;	
	font-weight: 100;
    margin: 25px 0;
}

.form div span{
    margin-right: 25px;
}

.form {
    width: 100%;
    margin-left: 10%;
}

.form-button {
    background-color: #0097A7;
    margin: 0 auto;
    width: 150px;
}

.form div input, textarea{
    width: 300px;
    font-size: 18px;	
	font-weight: 500;
}

.form div textarea{
    height: 20%;
    margin-left: 1px; /*pixel perfect tmtc*/
    padding: 10px;
}

.form div input{
    height: 40px;
    padding: 0 10px;
}

div.thanks{
    font-size: 22px;	
	font-weight: 100; 
    text-align: center;
    color: #0097A7;
}

div.denied-panel h2 {
   text-align: center; 
   margin: 10px 0;
}

div.denied-panel form button{
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 150px;
}

div.voted{
    color: #0097A7;
}

div.voted:before{
    margin-right: 20px;
    margin-left: -20px;
    content:"\2713";
    
}

ul.fullscreen-list a li:hover div.voted{
	color: #fff;
}


.content{
    margin: 0 auto;
    text-align: center;
}

button.button-about{
    background-color: #0097A7;
    width: 150px;
    height: 35px;
    margin-right: 10px;
}

.crop{
    overflow: hidden;    
    margin: 20px auto;    
    height: 200px;    
    width: 100%;
    box-shadow: 0px 0px 10px #0097A7; 
   -webkit-box-shadow: 0px 0px 10px #0097A7; 
   -ms-box-shadow: 0px 0px 10px #0097A7;
   -o-box-shadow: 0px 0px 10px #0097A7;  
}

.crop img {
    width: 100%;
    margin-top: -50px;
}

.buttons-about{
    width: 323px;
    margin: 20px auto 0 auto;
}