<html ng-app="hxvoteBackEndNgApp">
	<head>
		<link href='../styles/roboto-font.css' rel='stylesheet' type='text/css'>
		<link href='../styles/pure-buttons.css' rel='stylesheet' type='text/css'>
		<link href='../styles/reset.css' rel='stylesheet' type='text/css'>
		<link href='../styles/main-back.css' rel='stylesheet' type='text/css'>
		<link href='../styles/on-off-switch.css' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width; initial-scale=1, maximum-scale=1, minimum-scale=1"/>        
        <script src="../scripts/socket.io-1.3.5.js"></script>
        <script src="../scripts/angular.js"></script>
        <script src="../scripts/angular-route.js"></script>
        <script src="../scripts/app-back-end.js"></script>        
        <script src="../scripts/controllers/proposalsController.js"></script>
        <script src="../scripts/controllers/backController.js"></script>
        <script src="../scripts/controllers/votesController.js"></script>
        <script src="../scripts/services/socketServiceBackEnd.js"></script>
	</head>
	<body>
		<div ng-controller="backController" class="content">
			<h1>HYPNOSE<strong>X</strong>PERIENCE</h1>
            <h1 class="add">Back End</h1>
            
            <div class="onoffswitch">
                <input ng-model="checked" ng-click="updateAccess(!checked)" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-checked="adminParams.frontAccessible">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            
            <div class="buttons-container">
                <form action="#votes">
                    <button class="button button-left pure-button pure-button-primary">Votes</button>
                </form>
                <form action="#proposals">
                    <button class="button button-right pure-button pure-button-primary">Propositions public</button>
                </form>  
            </div>
            
            <div ng-view></div>
            
		</div>
	</body>
</html>
