<div class="thread">
    <h2><span class="active">PROPOSITIONS PUBLIC</span></h2>

    <ul class="fullscreen-list">
        <li ng-click="slide($event, proposal)" ng-repeat="proposal in proposals" ng-class="{'covered': proposal.cover}">
            <div class="proposal" ng-show="!proposal.cover">
                <div>
                    <p class="author">{{proposal.author}}</p>
                    <p class="date">{{proposal.date}}</p>
                </div>
                <p class="action-description">{{proposal.description}}</p>
            </div>
            <div class="slider" ng-show="proposal.cover">
                <p class="slider-question">Archiver cette proposition ?</p>
                <div class="slider-buttons">
                    <button ng-click="save($event, proposal)" class="pure-button pure-button-primary white slider-button">&#10003; Archiver</button>
                    <button ng-click="supp($event, proposal)" class="pure-button pure-button-primary slider-button black ">&#10007; Oublier</button>
                </div>
            </div>
        </li>
    </ul>
</div>