<form action="#/family">
    <div class="thread">
        <h2><span>FAMILLES</span> > <span class="active">{{familyLabel}}</span></h2>
        <button class="thread-back-button pure-button">&#66306; RETOUR</button>
    </div>
</form>
<div ng-show="posted" class="thanks">Merci d'avoir voté !</div><br ng-show="posted" />
<div ng-show="posted" class="thanks">Vous allez être redirigé et pourrez voter à nouveau.</div><br ng-show="posted" />
<ul ng-show="!posted" class="fullscreen-list">
    <a ng-click="vote(action)" ng-repeat="action in actions"><li><div>{{action.label}}</div></li></a>
</ul>
<ul ng-show="posted" class="fullscreen-list">
    <a ng-click="vote(action)" ng-repeat="action in actions" ng-if="action.voted"><li><div class="voted">{{action.label}}</div></li></a>
</ul>
<hr ng-hide="actions.length > 0" />