<form action="#/family">
    <div class="thread">
        <h2><span>FAMILLES</span> > <span class="active">{{familyLabel}}</span></h2>
        <button class="thread-back-button pure-button">&#66306; RETOUR</button>
    </div>
</form>
<div ng-show="posted" class="thanks">Merci d'avoir voté !</div>
<ul class="fullscreen-list">
    <a ng-click="vote(action)" ng-repeat="action in actions"><li><div  ng-class="{'voted': action.voted}">{{action.label}}</div></li></a>
</ul>
<hr ng-hide="actions.length > 0" />